<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="dr. Kónya Sándor & Sai Natarajan">

    <title>SiiM Hackathlon 2021 Project</title>
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-top-fixed.css') }}" type="text/css"/> 

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lodash.js') }}"></script>


<style>
        .blur {
            filter:blur(0px);
        }

        .red {
            background-color: red
        }

        .blink_me {
            animation: blinker 3s linear infinite;
        } 

        @keyframes blinker {
          50% {
            opacity: 0;
          }


}
    </style>


  </head>
  <body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SIIM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
       
        <li class="nav-item">
          <a class="nav-link active" id="lastquery">Last query...</a>
        </li>
<!--        
   <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

<li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
         <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<main class="container" id="container">

</main>

<script type="text/javascript">

$(document).ready(function() {

// list containing the images to be inferenced
const toinference = []
// interval between refresh in msec
const refreshinterval = 60000
const lookbackinterval = 360

const siteurlbase = window.location.origin;


// sleep time expects milliseconds for async test
function sleep (time) {
  return new Promise((resolve) => setTimeout(resolve, time));
}


const dohttpinference = (patinfo, allimages) => {

  return new Promise((resolve) => {
        args = {"img":patinfo.StudyUID, "allimages":allimages}

        //console.log("Passed args: ", JSON.stringify(patinfo))
        let id = patinfo.InstanceUID.replace(/ /g, "_").replace(/\./g, '_')
        time = patinfo.Time.slice(0, 2) + ":" + patinfo.Time.slice(2, 4)

        html = '<div class="newelem bg-light p-5 rounded" id="holder_'+id+'" style="display: none;"><h3 class="blur">'+patinfo.Name+'</h3> <h4 class="blur" style="color:red">' + patinfo.Accession + '</h4><h5>'+ time  + '</h5><p class="blur">'  + patinfo.StudyUID + 
              ' </p><div class="imageholder justify-content-center" id="'+id+'"><div class="spinner-border text-primary" role="status"></div></div>' +
              '</div><hr/>'

        $("#container").prepend(html)
        $("#holder_" + id ).show('slow');

        // placeholder for testing async func
        //sleep(1200).then(() => {
        //resolve(patinfo)
        //});

        $.ajax({
                    url: "inference",
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(patinfo),
                    success: function (msg) {
                      console.log("Response: ", msg)

                      if ((msg == "OK") || msg == "NoResult") {
                         $("#"+id).html('<img src="'+siteurlbase+'/getimg?StudyUID='+patinfo.StudyUID+'&SeriesUID='+patinfo.SeriesUID+'&InstanceUID='+patinfo.InstanceUID+'" class="blur img-fluid" alt="...">')
                       // notifyMe()
                      }
                      else if (msg == "Anomalydetected") {
                        $("#"+id).html('<img src="'+siteurlbase+'/getimg?StudyUID='+patinfo.StudyUID+'&SeriesUID='+patinfo.SeriesUID+'&InstanceUID='+patinfo.InstanceUID+'" class="blur img-fluid" alt="...">')
                        $("#"+id).parent().find("h5").addClass( "text-danger blink_me" );
                        $("#"+id).parent().removeClass( "bg-light" ).addClass("bg-dark text-light")
                        notifyMe()
                      }


                      btns = '<div class="d-flex justify-content-center mt-2"><button type="button" class="btn btn-info btn-sm">Open Case to review</button></div>'
                      $("#"+id).parent().append(btns)

                      resolve(patinfo, msg);

                    }
                })
                .fail(function(xhr, status, error) {
                  //Ajax request failed.
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    resolve(patinfo, "error")
                })

        });
}

const doNextPromise = () => {

  //$("#activelyinferencing").html(toinference.length);

      if (toinference.length == 0) {
        console.log("Nothing more to inference...")
        return true
      }

    dohttpinference(toinference[0],toinference.length)
    .then(x => {

      //console.log(`Inferenced: ${JSON.stringify(x)}, array length: ${toinference.length}\n`);

        inferencedpatientdata = localStorage.getItem('inferencedpatientdata') || []
        if (inferencedpatientdata.length > 0) { inferencedpatientdata = inferencedpatientdata.split(",")}
        inferencedpatientdata.push(x.InstanceUID)
        localStorage.setItem("inferencedpatientdata", inferencedpatientdata.join(","))

      toinference.shift()

      if (toinference.length > 0) {
        doNextPromise()
      }
      else {
        //console.log(`Stopped inferencing`);
        //$("#activelyinferencing").html("0");
      }

    })
}


// request permission on page load
document.addEventListener('DOMContentLoaded', function() {
 if (!Notification) {
  alert('Desktop notifications not available in your browser. Try Chromium.');
  return;
 }

 if (Notification.permission !== 'granted')
  Notification.requestPermission();
});


function notifyMe() {
 if (Notification.permission !== 'granted')
  Notification.requestPermission();
 else {
  var notification = new Notification('Anomaly detected!', {
   icon: 'http://assets.stickpng.com/images/5a81af7d9123fa7bcc9b0793.png',
   body: 'Hey there! There is maybe an anomaly!',
    vibrate: [300],

  });
  notification.onclick = function() {
   window.open(siteurlbase);
  };
 }
}

function getlist() { 

          // get the new list
          var getnewlist = $.ajax({
                      url: 'getlist',
                      type: 'GET',
                      data: { delta: lookbackinterval },
                      contentType: "application/json",
                      beforeSend: function(xhr){    

                            // $('.container').html('<div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>');
                      }
                  })
                  .fail(function(xhr, status, error) {
                    //Ajax request failed.
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                  })
            getnewlist.success(function(msg) {
                  msg = JSON.parse(msg)

                  inferencedpatientdata = localStorage.getItem('inferencedpatientdata') || []
                  if (inferencedpatientdata.length > 0) { inferencedpatientdata = inferencedpatientdata.split(",")}

                    console.log(msg.length)

                    _.each( msg, ( val, key ) => {

                          console.log( key, val);
                         
                          try {serdesc = val[`0008103E`].Value[0]}
                          catch {serdesc = "no serdesc"}

                          try {StudyUID = val[`0020000D`].Value[0]}
                          catch {StudyUID = ""}

                          try {SeriesUID = val[`0020000E`].Value[0]}
                          catch{SeriesUID = ""}

                          try {InstanceUID = val[`00080018`].Value[0]}
                          catch {InstanceUID = ""}

                          try {Name =  val[`00100010`].Value[0].Alphabetic}
                          catch {Name = "Anonymus"}

                          try { Time = val[`00080030`].Value[0]}
                          catch {Time = "1200"}

                          try {Datetoday = val[`00080020`].Value[0]}
                          catch {Datetoday = "2021"}

                          try {url = val[`00081190`].Value[0]}
                          catch{url = "http://"}

                          try {Accession = val['00100020'].Value}
                          catch{Accession="123456"}

                          console.log( Time, " - " , serdesc , " - " , Accession )
                          // we test for our criterion
                        //  if ( serdesc.includes("Thorax PA") || serdesc.includes("Thorax ap") || serdesc.includes("Thorax pa") || serdesc.includes("Bettaufnahme") || serdesc.includes("Intensiv")) {

                              //test wether it had already been inferenced, if not, we put into 
                              //console.log("Inferencedpatientdata:" , inferencedpatientdata)

                              if (! _.includes(inferencedpatientdata, InstanceUID)) {

                                patinfo = {  "StudyUID":StudyUID , "SeriesUID":SeriesUID, "InstanceUID":InstanceUID, "url":url , "Accession":Accession, "Name":Name, "Time":Time }
                                toinference.push(patinfo)
                              }

                            // }
                      });
              if (toinference.length > 0) {
                  console.log(toinference.length + " new images to inference!")
                  doNextPromise()
                }
              else {
                console.log(prettyDate() ,  " - no new images to inference")
              }


          });
}

// to show hh:mm
//https://stackoverflow.com/questions/19407305/how-to-show-only-hours-and-minutes-from-javascript-date-tolocaletimestring
function prettyDate() {
  var date = new Date();
  return date.toLocaleTimeString(navigator.language, {
    hour: '2-digit',
    minute:'2-digit'
  });
}

// we set timeout to reload list in every X min
function timeout() {
    setTimeout(function () {
        console.log(prettyDate() ,  " - requesting new list...")
        $("#lastquery").text("Last query - " + prettyDate())
        getlist()
        timeout();
    }, refreshinterval);
}


function demo() {
  
  id = "123456"
  patinfo = {
    "Accession":"Accession number",
    "Name":"Mr. Anonymous Mouse",
    "serdesc":"Series Description placeholder",
    "StudyUID":"1.1234.2345.6789.998765433"
  }

        html = '<div class="newelem bg-light p-5 rounded" id="holder_'+id+'" style="display: none;"><h3 class="">'+patinfo.Name+'</h3> <h4 class="" style="color:red">' + patinfo.Accession + '</h4><h5>'+ prettyDate()  + " / <b>" +  patinfo.serdesc +'</b></h5><p class="">'  + patinfo.StudyUID + 
              ' </p><div class="imageholder justify-content-center" id="'+id+'"><div class="spinner-border text-primary" role="status"></div></div>' +
              '</div><hr/>'

        $("#container").prepend(html)
        $("#holder_" + id ).show('slow');



        sleep(800).then(() => {

          $("#"+id).html('<img src="http://127.0.0.1:5000/inferencedimage?url=https://medschool.co/images/detail/cxr/ett-bronchus.jpg" class=" img-fluid" alt="...">')
           btns = '<div class="d-flex justify-content-center mt-2"><button type="button" class="btn btn-info btn-sm" id="button">Open Case to review</button></div>'
            $("#"+id).parent().append(btns)

             $("#"+id).parent().find("h5").addClass( "text-danger blink_me" );
            $("#"+id).parent().removeClass( "bg-light" ).addClass("bg-dark text-light")
                        notifyMe()

            $("#button").on('click', function (e) {

              var getnewlist = $.ajax({
                      url: 'opencase',
                      type: 'GET',
                      contentType: "application/json",
                      beforeSend: function(xhr){ 
                      }
                  })


              })

        });
}


//start main script
getlist()
$('.container').empty()
timeout()
$("#lastquery").text("Last query - " + prettyDate())


//demo()


});

</script>    
  </body>
</html>
